<template>
    <span>
        <input v-if="!deleting" v-on:click="deleteClicked" type="submit" class="btn btn-danger" value="Usuń" />
        <button v-else class="btn btn-danger" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Usuwanie...
        </button>
    </span>
</template>

<script>
export default {
    name: 'DeleteButton',
    props: {
        deleting: {
            type: Boolean,
            default: false
        }
    },
    methods: {
        deleteClicked() {
            this.$emit('delete');
        }
    }
}
</script>