<template>
    <a @click="handleClick" href="#" class="list-group-item list-group-item-action" :class="{disabled: uploading}" :aria-disabled="uploading">
        <i class="fa fa-file mr-1"></i>&nbsp;Załącz
        <form method="POST" enctype="multipart/form-data">
            <input @change="handleFileSelect" ref="fileElement" type="file" class="d-none" />
        </form>

        <div v-if="uploading" class="progress">
            <div class="progress-bar" role="progressbar" :style="{width: this.displayProgressValue + '%'}" :aria-valuenow="displayProgressValue" aria-valuemin="0" aria-valuemax="100">{{ displayProgressValue }}%</div>
        </div>
    </a>
</template>

<script>
export default {
    name: 'FileUpload',
    data() {
        return {
            file: null,
            uploading: false,
            progress: 0.0,
            baseApiUrl: process.env.VUE_APP_BASE_API_URL
        }
    },
    computed: {
        displayProgressValue() {
            return Math.round(this.progress * 100.0);
        },
        token() {
            return this.$store.state.sessionToken;
        }
    },
    props: [ 'endpoint', 'idParam', 'targetId' ],
    methods: {
        handleClick(ev) {
            let fileElement = this.$refs.fileElement;
            fileElement.click();
        },
        handleFileSelect(ev) {
            this.file = this.$refs.fileElement.files[0];
            this.uploadFile();
        },
        uploadFile() {
            this.uploading = true;

            /* this is special case where fetch api has less functionalities than XHR in terms of file upload and progress monitoring */
            let xhr = new XMLHttpRequest();
            xhr.onreadystatechange = () => {
                if (xhr.readyState == 4) {
                    this.uploading = false;
                    if (xhr.status >= 200 && xhr.status < 300) {
                        let uploadResponse = JSON.parse(xhr.responseText);
                        this.$emit('uploaddone', uploadResponse);
                    } else {
                        this.$emit('uploadfail', JSON.parse(xhr.responseText));
                    }
                }
            };

            let formData = new FormData();
            formData.append(this.idParam, this.targetId);
            formData.append('file', this.file);

            xhr.addEventListener('progress', this.updateProgress);
            xhr.addEventListener('error', this.handleUploadError);
            xhr.upload.addEventListener('progress', this.updateProgress);
            xhr.upload.addEventListener('error', this.handleUploadError);

            xhr.open('POST', this.baseApiUrl + '/' + this.endpoint);
            xhr.setRequestHeader('Authorization', 'Bearer ' + this.token);
            xhr.send(formData);
            this.$emit('uploadstart', this.file);
        },
        updateProgress(ev) {
            console.log(ev);
            if (ev.lengthComputable) {
                let totalSize = ev.total;
                let currentSize = ev.loaded;

                if (ev.total != 0)
                    this.progress = ev.loaded / ev.total;
            }
        },
        handleUploadError(ev) {
            this.$emit('uploaderror', ev);
        }
    }
}
</script>

<style>
.progress-bar {
    height: 100%;
    width: 100%;
}
</style>