<template>
    <span>
        <input v-if="!saving" v-on:click="saveClicked" type="submit" class="btn btn-primary" value="Zapisz" />
        <button v-else class="btn btn-primary" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Zapisywanie...
        </button>
    </span>
</template>

<script>
export default {
    name: 'SaveButton',
    props: {
        saving: {
            type: Boolean,
            default: false
        }
    },
    methods: {
        saveClicked() {
            this.$emit('save');
        }
    }
}
</script>