<template>
    <div class="card p-2 mb-2">
        <div class="card-body">
            <h5 class="card-title">{{ name }}</h5>
            <p class="card-text"></p>
            <a :href="attachmentUrl" class="btn btn-primary">Pobierz</a>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Attachment',
    props: [ 'name' ],
    data() {
        return {
            baseApiUrl: process.env.VUE_APP_BASE_API_URL
        }
    },
    computed: {
        attachmentUrl() {
            return this.baseApiUrl + '/attachments/' + this.name
        }
    }
}
</script>