<template>
    <a @click="handleArchive" href="#" class="list-group-item list-group-item-action" :class="{disabled: archiving }"><i class="fa fa-archive mr-1"></i>&nbsp;Archiwizuj</a>
</template>

<script>
import ApiHelper from '../shared/ApiHelper.vue'

export default {
    created() {
        this.$on('apiresponse', ev => {
            this.archiving = false;
        });
    },
    data() {
        return {
            archiving: false
        }
    },
    name: 'ArchiveButton',
    props: [ 'card' ],
    methods: {
        handleArchive(ev) {
            this.archiving = true;
            this.card.archivised = true
            this.put('/api/card', this.card)
        }
    },
    mixins: [ ApiHelper ]
}
</script>

<style>

</style>