<template>
    <transition name="fade">
        <div class="lightbox" v-if="shown">
            <div class="modal force-modal-show" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Edytuj kartę</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" v-on:click="hideModal">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-8">
                                <form>
                                    <div class="row">
                                        <div class="col-12">
                                            <label for="name">Nazwa Karty</label>
                                            <input v-model="card.title" type="text" class="form-control" id="title" name="title" aria-describedby="title"/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                            <label for="description">Opis karty</label>
                                            <textarea v-model="card.description" type="text" class="form-control" id="description" name="description" aria-describedby="description"></textarea>
                                        </div>
                                    </div>

                                    <div v-if="hasAttachments" class="row">
                                        <div class="col-12">
                                            <label>Załączniki</label>
                                            <attachment v-for="attachment in card.attachements" :key="attachment.id" :name="attachment.title" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <label>Komentarze</label>
                                            <textarea v-model="newComment.content" type="text" class="form-control" id="comment" name="comment" aria-describedby="comment"></textarea>
                                            <button type="button" class="btn btn-danger" v-on:click="addComment">Dodaj Komentarz</button>
                                        </div>
                                    </div>

                                    <div v-if="hasComments" class="row">
                                        <div class="col-12">
                                            <comment v-for="comment in card.comments" :key="comment.id" :from="comment.from" :content="comment.content" />
                                        </div>
                                    </div>

                                </form>
                            </div>
                            
                            <div class="col-4">
                                <div class="list-group">
                                    <archive-button :card="card" />
                                    <labels-button :card="card" @labelpush="handleLabelAdd" @labeladd="handleNewLabel" @labelremove="handleRemoveLabel" />
                                    <file-upload @uploaddone="handleUploadDone" endpoint="api/card/upload" idParam="cardId" :targetId="card.id" />
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="modal-footer">
                        <save-button :saving="saving" v-on:save="saveBoard" />
                        <button type="button" class="btn btn-danger" v-on:click="deleteCard">Usuń</button>
                        <button type="button" class="btn btn-secondary" v-on:click="hideModal">Zamknij</button>
                    </div>
                    <p v-if="error" class="alert alert-danger">{{ error }}</p>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
import ApiHelper from '../shared/ApiHelper.vue'
import ArchiveButton from './ArchiveButton.vue'
import Attachment from './attachments/Attachment.vue'
import Comment from './comments/Comment.vue'
import SaveButton from '../shared/SaveButton.vue'
import FileUpload from '../shared/FileUpload.vue'
import LabelsButton from '../labels/LabelsButton.vue'

export default {
    name: 'CardEdit',
    components: {
        ArchiveButton,
        Attachment,
        Comment,
        SaveButton,
        FileUpload,
        LabelsButton
    },
    mixins: [ApiHelper],
    created() {
        this.$on('apierror', ev => {
            this.saving = false;
            this.error = ev.httpStatus != null ? 'Wystąpił błąd HTTP ' + ev.httpStatus + ': ' + ev.errorDetails : ev.errorDetails;
        });

        this.$on('apiresponse', ev => {
            if(ev.requestMethod == 'DELETE') this.$emit('carddelete', this.card.id)
            this.saving = false;
            this.hideModal();
        });
    },
    computed: {
        hasAttachments() {
            return this.card.attachements.length > 0
        },
        hasComments() {
            return this.card.comments.length > 0
        }
    },
    data: function() {
        return {
            saving: false,
            error: null,
            shown: false,
            newComment: {
                cardId: 0,
                from: "",
                content: ""
            },
            card: {
                title: "",
                description: "",
            }
        };
    },
    methods: {
        showModal(card, listId) {
            this.card = card;
            this.card.listId = listId;
            this.shown = true;
            this.error = null;
        },

        hideModal() {
            this.shown = false;
        },

        saveBoard() {
            this.saving = true;
            this.put('/api/card', this.card);   
        },

        deleteCard() {
            this.delete('/api/card/' + this.card.id);
        },

        handleUploadDone(ev) {
            this.card.attachements.push(ev)
        },

        addComment() {
            this.newComment.cardId = this.card.id;
            this.newComment.from = 1;
            this.post('/api/comments' , this.newComment);
            this.card.comments.push(this.newComment);
        },

        handleLabelAdd(label) {
            this.card.labels.push(label);
        },

        handleNewLabel(label) {
            this.card.labels.push(label);
        },

        handleRemoveLabel(label) {
            this.card.labels = this.card.labels.filter(l => l.id != label.id);
        }
    }
}
</script>


<style>
.modal-dialog {
    max-width: 750px !important;
}

.lightbox {
    z-index: 1049;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 1;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
.force-modal-show {
  display: block !important;
}
</style>