<template>
   
    <div class="modal-body">
        <div class="row">                
            <div class="col-12">                    
                <span class="badge badge-secondary">Secondary</span>    
                <label for="name">Nazwa karty</label>                    
                <textarea v-model="card.title" type="text" class="form-control" id="title" name="title" aria-describedby="title"></textarea>
            </div>
        </div>
    </div>
            
</template>

<script>
import ApiHelper from '../shared/ApiHelper.vue'

export default {
    name: 'CardModal',
    mixins: [ApiHelper],
    data() {
        return {
            shown: false,
            error: null,
            saving: false
        }
    },
    methods: {
        showModal() {
            this.shown = true;
        },
        hideModal() {
            this.shown = false;
        }
    }
}
</script>