<template>
    <div class="col-lg-3 col-md-4 col-sm-12 ml-4 card-list" :class="{'card-list-drag': dragged}">
        <h5 class="m-2 mb-3 list-title">
            <input class="list-edit" v-model="list.name" :placeholder="list.name" v-if="clicked" v-on:blur="inputSave">
            <span v-else class="list-name" v-on:click="nameClicked">{{ list.name }}</span>&nbsp;
            <span class="float-right" v-on:click="deleteList">&times;</span>
            </h5>
        <draggable v-model="list.cards" group="cardlist">
            <list-card v-for="card in list.cards" :listId="list.id" :card="card" :key="card.id" v-on:cardclicked="handleCardClick" v-on:carddelete="handleCardDelete" />
        </draggable>
        <new-card :listid="list.id" v-on:cardcreated="handleCardCreate" />
        <card-edit ref="cardEdit" />
    </div>
</template>

<script>
import ListCard from './ListCard.vue'
import NewCard from './NewCard.vue'
import CardEdit from '../cards/CardEdit.vue'
import ApiHelper from '../shared/ApiHelper.vue'
import draggable from 'vuedraggable'

export default {
    name: 'List',
    props: {
        list: {
            type: Object,
            required: true
        },
        dragged: {
            type: Boolean,
            default: false
        },
        clicked: {
            type: Boolean,
            default: false
        }
    },
    components: {
        ListCard,
        NewCard,
        CardEdit,
        draggable
    },
    mixins: [ApiHelper],
    data() {
        return {
            loaded: false,
            id: this.$route.params.id,
            lists: [],
            labels: [],
            cards: []
        }
    },
    created() {
        this.$on('apiresponse', ev => {
            this.loaded = true;
            this.labels = ev.response.labels;
            this.cards = ev.response.cards;
            if(this.cards == null) this.cards = [];
        });
        
        this.get('/api/board/' + this.id);
    },
    methods: {
        handleCardClick(ev) {
            this.$refs.cardEdit.showModal(ev.card, ev.listId);
        },
        handleCardCreate(ev) {
            this.list.cards.push(ev)
        },
        handleCardDelete(id) {
            this.list.cards = this.list.cards.filter(c => c.id != id)
        },
        deleteList(id) {
            this.$emit('listdelete', this.list.id)
        },
        nameClicked() {
            this.clicked = true;
        },
        inputSave() {
            this.clicked = false;
            this.put('/api/list', this.list);
        }
    }
}
</script>

<style>
.card-list {
    background-color: #cccccc;
    border-radius: 0.25rem;
}

.card-list-drag {
    transform: scale(1.07);
    opacity: 0.66;
    box-shadow: 0.5rem 0.5rem 0.25rem rgba(0, 0, 0, 0.66);
}

.list-title {
    cursor: pointer;
}

 .list-edit {
    width: 95%;
} 
</style>