<template>
    <div>
        <draggable v-model="lists" group="list" class="scroll-list row mt-3" v-on:start="dragStart" v-on:end="dragEnd">
            <list v-for="list in lists" :key="list.id" :list="list" v-on:listdelete="handleListDelete" v-on:cardcreated="handleCardCreated" />
            <div class="col-lg-3 col-md-4 col-sm-12 ml-4">
                <new-list v-on:listcreate="listCreated" :listOrder="nextListOrder" />
            </div>
        </draggable>
    </div>
</template>

<script>
import ApiHelper from '../shared/ApiHelper.vue'
import List from './List.vue'
import NewList from './NewList.vue'
import draggable from 'vuedraggable'

export default {
    name: 'ListView',
    components: {
        List,
        NewList,
        draggable
    },
    computed: {
        orderedLists() {
            return this.lists != null ? this.lists.slice().sort((a, b) => {
                if (a.listOrder > b.listOrder) return 1
                else if (a.listOrder < b.listOrder) return -1
                else return 0
            }).filter(l => !l.isArchiwized) : [];
        },
        nextListOrder() {
            return this.lists.length + 1
        }
    },
    mixins: [ApiHelper],
    data() {
        return {
            loaded: false,
            id: this.$route.params.id,
            lists: [],
            labels: [],
            cards: [],
            backgroundColor: "#ffffff"
        }
    },
    created() {
        this.$on('apiresponse', ev => {
            if(ev.requestMethod === 'GET') {
                this.loaded = true;
                this.lists = ev.response.lists;
                this.labels = ev.response.labels;
                this.backgroundColor = ev.response.background_color;
                this.$store.commit('newBoardLabels', ev.response.labels);

                if(ev.response.background_color != null) {
                    // since <body> is outside virtual DOM we need manipulate it's color directly
                    document.querySelector('body').style.backgroundColor = this.backgroundColor;
                }

                this.lists.sort((a, b) => {
                    if (a.listOrder > b.listOrder) return 1
                    else if (a.listOrder < b.listOrder) return -1
                    else return 0
                }).filter(l => !l.isArchiwized);
            }
        });
        
        this.get('/api/board/' + this.id);
    },
    methods: {
        listCreated(newList) {
            if(newList.cards == null) newList.cards = []; // if cards would be added right after list creation
            this.lists.push(newList);
        },
        handleListDelete(listId) {
            this.delete('/api/list/' + listId);
            this.lists = this.lists.filter(l => l.id != listId);
        },
        handleCardCreated(card){
            this.cards.push = card;
        },
        dragStart(ev) {
            // TODO: add prop change for target component
        },
        dragEnd(ev) {
            console.log(ev);
            let nextOrderCounter = 1;
            this.lists.slice().forEach(list => {
                list.listOrder = nextOrderCounter++;
                this.put('/api/list', list);
            });
        }
    }
}
</script>

<style>
.card-add {
    cursor: pointer;
}

.scroll-list {
    flex-wrap: nowrap !important;
}
</style>