<template>
    <div class="list-card m-2" v-on:click="cardClicked">
        <badge />
        {{ card.title }}
    </div>
</template>

<script>
import Badge from './badges/Badge.vue'

export default {
    name: 'ListCard',
    components: {
        Badge
    },
    props: ['card', 'listId'],
    methods: {
        cardClicked() {
            this.$emit('cardclicked', { card: this.card, listId: this.listId })
        }
    }
}
</script>

<style>
.list-card {
    background-color: white;
    border-radius: 0.4rem;
    transition: all 333ms ease;
    cursor: pointer;
}

.list-card:hover {
    background-color: #eeeeee;
}
</style>