<template>
    <div class="p-2">
        <p v-if="!createMode" class="card-add mb-0" v-on:click="activateCreationMode">
            <i class="fa fa-plus"></i>&nbsp;Dodaj nową kartę
        </p>
        <form v-else>
            <textarea v-model="card.title" class="form-control mb-2" placeholder="Wpisz tytuł karty"></textarea>
            <save-button v-on:save="saveCard" :saving="saving" />
            &nbsp;
            <button class="btn btn-secondary" v-on:click="exitCreationMode">Anuluj</button>
        </form>
    </div>
</template>

<script>
import SaveButton from '../shared/SaveButton.vue'
import ApiHelper from '../shared/ApiHelper.vue'

export default {
    name: 'NewCard',
    components: {
        SaveButton
    },
    props: [ 'listid' ],
    created() {
        this.$on("apiresponse", ev => {
            this.$emit('cardcreated', ev.response);
            this.saving = false;
            this.createMode = false;
            this.title = ""
        });
    },
    mixins: [ApiHelper],
    data() {
        return {
            createMode: false,
            saving: false,
            card: {
                "title": "",
                "listId": this.listid
            }
        }
    },
    methods: {
        activateCreationMode() {
            this.createMode = true;
        },
        exitCreationMode() {
            this.createMode = false;
        },
        saveCard() {
            this.saving = true;
            this.post("/api/card", this.card) 
        }
    }
}
</script>

<style>
.card-list {
    background-color: #cccccc;
    border-radius: 0.25rem;
}

.card-add {
    cursor: pointer;
}

form > textarea {
    width: 100%;
    overflow: hidden;
    resize: none;
}
</style>