<template>
    <div class="new-list">
        <h5 v-if="!createMode" v-on:click="activateCreationMode"><i class="fa fa-plus"></i>&nbsp;Dodaj nową listę</h5>
        <form v-else>
            <textarea class="form-control" v-model="list.name" placeholder="Wpisz tytuł listy"></textarea>
            <save-button :saving="saving" v-on:save="saveList" />
            &nbsp;
            <button class="btn btn-secondary" v-on:click="exitCreationMode">Anuluj</button>
        </form>
    </div>
</template>

<script>
import ApiHelper from '../shared/ApiHelper.vue'
import SaveButton from '../shared/SaveButton.vue'

export default {
    name: 'NewList',
    props: {
        listOrder: {
            type: Number,
            default: 1
        }
    },
    components: {
        SaveButton
    },
    created() {
        this.$on('apiresponse', ev => {
            this.saving = false;
            this.$emit('listcreate', ev.response);
            this.exitCreationMode();
        });
    },
    mixins: [ApiHelper],
    data() {
        return {
            createMode: false,
            saving: false,
            list: {
                name: "",
                listOrder: this.listOrder,
                boardId: this.$route.params.id
            }
        }
    },
    methods: {
        activateCreationMode() {
            this.createMode = true;
            this.list = {
                name: "",
                listOrder: this.listOrder,
                boardId: this.$route.params.id
            };
        },
        exitCreationMode() {
            this.createMode = false;
        },
        saveList() {
            this.saving = true;
            this.post('/api/list', this.list);
        }
    }
}
</script>

<style>
.new-list {
    cursor: pointer;
}
</style>