<template>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <router-link class="nav-link" to="/"><i class="fa fa-home"></i></router-link>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-bookmark"></i></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-plus"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#" v-on:click="boardCreateHandler">Dodaj nową tablicę</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <notifications />
                </li>
                <li class="nav-item">
                    <a class="navbar-brand" href="">
                        <img src="placeholder.png" width="30" height="30" class="ml-3 profile-pic" />
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</template>

<script>
import Notifications from './Notifications.vue'

export default {
    name: 'Navbar',
    components: {
        Notifications
    },
    methods: {
        boardCreateHandler() {
            this.$emit('boardcreate');
        }
    }
}
</script>

<style>
.profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}    

.list-container {
    overflow-x: scroll;
    min-height: 89vh;
}

.notification {
    position: relative;
}

.notification-badge {
    display: inline-block;
    color: white;
    background-color: #ff6666;
    font-size: 0.71rem;
    font-weight: 700;
    width: 1rem;
    height: 1rem;
    text-align: center;
    border-radius: 0.5rem;
    position: absolute;
    top: 0.5rem;
    margin-left: 1rem;
}
</style>