<template>
    <span class="notification-container">
        <a class="nav-link" href="#"><i class="fa fa-bell"></i></a>
        <span v-if="notificationCount" class="notification-badge">{{ notificationCount }}</span>
    </span>
</template>

<script>
export default {
    name: 'Notifications',
    props: {
        notificationList: {
            type: Array,
            default: () => []
        }
    },
    computed: {
        notificationCount() {
            return this.notificationList != null ? (this.notificationList.length > 9 ? '9+' : (this.notificationList.length <= 0 ? false : this.notificationList.length)) : false
        }
    },
}
</script>