<template>
    <span>
        <a @click="handleLabelsModalExpand" href="#" class="list-group-item list-group-item-action" :class="{disabled: labelsModalShown }"><i class="fa fa-archive mr-1"></i>&nbsp;Etykiety</a>
        <labels-modal v-if="labelsModalShown && !newLabelMode" :card="card" @modalclose="handleModalClose" @labeladd="handleModalLabelClickAdd" @labelremove="handleModalLabelClickRemove" @newlabel="handleNewLabel" />
        <new-label-modal v-if="labelsModalShown && newLabelMode" :card="card" @modalclose="handleModalClose" @labeladd="handleModalLabelAdd" />
    </span>
</template>

<script>
import LabelsModal from './LabelsModal.vue'
import NewLabelModal from './NewLabelModal.vue'

export default {
    name: 'LabelsButton',
    props: ['card'],
    components: {
        LabelsModal,
        NewLabelModal
    },
    data() {
        return {
            labelsModalShown: false,
            newLabelMode: false
        }
    },
    methods: {
        handleLabelsModalExpand() {
            this.labelsModalShown = true;
        },

        handleModalClose() {
            this.labelsModalShown = false;
            this.newLabelMode = false;
        },

        handleModalLabelAdd(label) {
            this.newLabelMode = false;
            this.$emit('labelpush', label);
        },

        handleModalLabelClickAdd(label) {
            this.$emit('labeladd', label);
        },

        handleModalLabelClickRemove(label) {
            this.$emit('labelremove', label);
        },

        handleNewLabel() {
            this.newLabelMode = true;
        }
    }
}
</script>

<style>

</style>