<template>
    <transition name="fade">
        <div class="modal relative-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Etykiety</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="modalClosed">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        <modal-label v-for="label in labelsAvailable" @labelclick="handleLabelClick" :label="label" :key="label.id" :checked="label.id in checkedLabelsIds" />
                        <button @click="newLabelClick" type="button" class="btn btn-primary">Dodaj nową etykietę</button>
                    </p>
                </div>
                <div class="modal-footer">
                </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
import ModalLabel from './ModalLabel.vue';
export default {
    name: 'LabelModal',
    props: ['card'],
    components: {
        ModalLabel
    },
    computed: {
        labelsAvailable() {
            return this.$store.state.boardLabels;
        },
        labelsAvailableIds() {
            return this.labelsAvailable.map(l => l.id);
        },
        checkedLabelsIds() {
            return this.card != null ? this.card.labels.map(l => l.id) : [];
        }
    },
    methods: {
        modalClosed() {
            this.$emit('modalclose');
        },

        newLabelClick() {
            this.$emit('newlabel');
        },

        handleLabelClick(labelEvent) {
            if (!labelEvent.checked) {
                this.$emit('labeladd', labelEvent.label);
                //this.card.labels.push(labelEvent.label);
            } else {
                this.$emit('labelremove', labelEvent.label);
                //this.card.labels = this.card.labels.filter(l => l.id != labelEvent.label.id);
            }
        }
    }
}
</script>

<style>
.relative-modal {
    z-index: 1337;
    position: absolute;
    top: 4.5rem;
    display: block;
}
</style>