<template>
    <div @click="labelClick" class="label" :style="{'background-color': label.color}">
        {{ label.name }}
        <span v-if="checked"><i class="fa fa-check label-checkmark"></i></span>
    </div>
</template>

<script>
export default {
    name: 'ModalLabel',
    props: ['label', 'checked'],
    methods: {
        labelClick() {
            this.$emit('labelclick', { label: this.label, checked: this.checked });
        }
    }
}
</script>

<style>
.label {
    border-radius: 1rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    padding-left: 0.5rem;
    cursor: pointer;
    transition: all 200ms ease;
}

.label:hover {
    transform: scale(1.1);
}

.label:active {
    transform: scale(0.95);
}

.label-checkmark {
    float: right;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
}
</style>