<template>
    <transition name="fade">
        <div class="modal relative-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Nowa etykieta</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="modalClosed">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        <form class="mb-3">
                            <label for="name">Nazwa</label>
                            <input v-model="label.name" class="form-control" aria-describedby="name" />

                            <label for="color">Kolor etykiety</label>
                            <input v-model="label.color" type="color" class="form-control" aria-describedby="color" />
                        </form>
                        <button @click="newLabel" type="button" class="btn btn-primary">Dodaj</button>
                    </p>
                </div>
                <div class="modal-footer">
                    <div v-if="error" class="alert alert-danger">
                        {{ error }}
                    </div>
                </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
import ApiHelper from '../shared/ApiHelper.vue'

export default {
    name: "NewLabelModal",
    props: [ "card" ],
    mixins: [ApiHelper],
    created() {
        this.$on('apiresponse', ev => {
            this.$emit('labeladd', ev.response);
        });

        this.$on('apierror', ev => {
            this.error = ev.errorDetails
        });
    },
    data() {
        return {
            label: {
                name: "",
                color: "#000000",
                boardId: this.$route.params.id
            },
            error: null
        }
    },
    methods: {
        modalClosed() {
            this.$emit('modalclose');
        },
        newLabel() {
            this.post('/api/label', this.label)
        }
    }
}
</script>

<style>

</style>