<template>
    <div class="card p-2 mb-2">
        <div class="card-body">
            <h5 class="card-title">{{ from }}</h5>
            <p class="card-text">{{ content }}</p>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Comment',
    props: [ 'from',
            'content' ],
    data() {
        return {
            baseApiUrl: process.env.VUE_APP_BASE_API_URL
        }
    },
    computed: {
        // attachmentUrl() {
        //     return this.baseApiUrl + '/attachments/' + this.name
        // }
    }
}
</script> 