<template>
    <transition name="fade">
        <div class="lightbox" v-if="shown">
            <div class="modal force-modal-show" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{ modalTitle }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" v-on:click="hideModal">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row">
                                <div class="col-12">
                                    <label for="name">Nazwa tablicy</label>
                                    <input v-model="currentBoard.name" type="text" class="form-control" id="name" name="name" aria-describedby="name"/>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <label for="background-color">Kolor tła tablicy</label>
                                    <input v-model="currentBoard.background_color" type="color" class="form-control" id="background-color" name="background-color" aria-describedby="background-color" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <label for="background-file">URL tła tablicy</label>
                                    <input v-model="currentBoard.background_url" type="text" class="form-control" id="background-url" name="background-url" aria-describedby="background-url" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <save-button :saving="saving" v-on:save="saveBoard" />
                        <button type="button" class="btn btn-secondary" v-on:click="hideModal">Zamknij</button>
                    </div>
                    <p v-if="error" class="alert alert-danger">{{ error }}</p>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
import ApiHelper from '../shared/ApiHelper.vue'
import SaveButton from '../shared/SaveButton.vue'

export default {
    name: 'BoardModal',
    components: {
        SaveButton
    },
    props: ['editMode', 'editBoard', 'shown'],
    mixins: [ApiHelper],
    created() {
        this.$on('apierror', ev => {
            this.saving = false;
            this.error = ev.httpStatus != null ? 'Wystąpił błąd HTTP ' + ev.httpStatus + ': ' + ev.errorDetails : ev.errorDetails;
        });

        this.$on('apiresponse', ev => {
            this.saving = false;
            this.hideModal();

            if (!this.editMode)
                this.$router.push('/board/' + ev.response.id);
        });
    },
    computed: {
        currentBoard() {
            return this.editMode === true ? this.editBoard : this.board;
        },
        modalTitle() {
            return this.editMode === true ? "Edytuj tablicę" : "Dodaj nową tablicę";
        }
    },
    data: function() {
        return {
            saving: false,
            error: null,
            board: {}
        };
    },
    methods: {
        showModal() {
            this.shown = true;
            this.error = null;
            if (!this.editMode) {
                this.board = {
                    name: '',
                    background_color: this.randomColor(),
                    background_url: '',
                    labels: [],
                    lists: []
                };
            }
        },

        hideModal() {
            this.shown = false;
        },

        randomColor() {
            let result = "#";
            for(let i = 0; i < 3; i++) {
                result += Math.floor(16 + (Math.random() * (255 - 16))).toString(16);
            }
            return result;
        },

        saveBoard() {
            this.saving = true;
            if(!this.editMode)
                this.post('/api/board', this.board);
            else
                this.put('/api/board/' + this.editBoard.id, this.editBoard);
        }
    }
}
</script>

<style>
.lightbox {
    z-index: 1049;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 1;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
.force-modal-show {
  display: block !important;
}
</style>