<template>
    <div class="container">
        <div class="row mt-4">
            <div class="col-lg-4 col-md-3 col-sm-12 sidebar">
                <ul class="list-group">
                    <li class="list-group-item active"><i class="fa fa-th"></i>&nbsp;Tablice</li>
                </ul>
            </div>

            <div class="col-lg-8 col-md-9 col-sm-12 boardlist">
                <div class="your-boards">
                    <h4 class="boards-view-header mb-2"><i class="fa fa-user-o"></i>&nbsp;Twoje tablice</h4>

                    <div class="row">
                        <board v-for="board of boards" :key="board.id" v-on:boardclick="boardClicked" @boarddelete="boardDeletion" @boardedit="boardEdit" :id="board.id" :name="board.name" :backgroundColor="board.background_color" :backgroundUrl="board.background_url"/>
                    </div>
                </div>
            </div>
        </div>
        <board-modal :editMode="true" :editBoard="boardToEdit" :shown="editingBoard" />
        <board-delete-modal :board="boardToDelete" :shown="deletingBoard" @boarddeleted="boardDeleted" @boarddeletecancel="boardDeleteCancelled" />
    </div>
</template>

<script>
import ApiHelper from '../shared/ApiHelper.vue'
import Board from './Board.vue'
import BoardModal from './BoardModal.vue'
import BoardDeleteModal from './BoardDeleteModal.vue'

export default {
    name: 'BoardsView',
    components: {
        Board,
        BoardModal,
        BoardDeleteModal
    },
    mixins: [ApiHelper],
    created: function() {
        this.$on('apiresponse', ev => {
            this.loaded = true;
            this.boards = ev.response;
        });
        this.get('/api/board');

        // reset color if board had different color than default
        document.querySelector('body').style.backgroundColor = "#ffffff";
    },
    data: function() {
        return {
            boards: [],
            boardToDelete: null,
            boardToEdit: null,
            editingBoard: false,
            deletingBoard: false,
            loaded: false
        }
    },
    methods: {
        boardClicked(id) {
            this.$router.push('/board/' + id);
        },
        boardDeletion(ev) {
            this.boardToDelete = ev;
            this.deletingBoard = true;
        },
        boardDeleted(ev) {
            this.boardToDelete = null;
            this.deletingBoard = false;
            this.boards = this.boards.filter(b => b.id != ev);
        },
        boardDeleteCancelled() {
            this.boardToDelete = null;
            this.deletingBoard = false;
        },
        boardEdit(ev) {
            this.boardToEdit = this.boards.find(b => b.id == ev);
            this.editingBoard = true;
        },
        boardEditCancelled() {
            this.boardToEdit = null;
            this.editingBoard = false;
        }

    }
}
</script>

<style>
.boards-view-header {
    color: #696969;
}
</style>