<template>
    <div class="col-lg-3 col-md-3 col-sm-6 card text-white mr-3 mb-3 board-card" v-on:click="boardCardClicked" :style="{ backgroundColor }">
        <img v-if="backgroundUrl" :src="backgroundUrl" class="card-img" />
        <div class="card-img-overlay">
            <h6 class="card-title">{{ name }}</h6>
            <span class="board-edit-button" @click="editClicked"><i class="fa fa-pencil"></i></span>
            <span class="board-delete-button" @click="deleteClicked">&times;</span>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Board',
    props: {
        id: {
            type: Number,
            required: true
        },
        name: {
            type: String,
            required: true
        },
        backgroundColor: {
            type: String,
            required: false
        },
        backgroundUrl: {
            type: String,
            required:false
        }
    },
    methods: {
        boardCardClicked() {
            this.$emit('boardclick', this.id);
        },
        deleteClicked(ev) {
            ev.stopPropagation();
            this.$emit('boarddelete', { id: this.id, name: this.name });
        },
        editClicked(ev) {
            ev.stopPropagation();
            this.$emit('boardedit', this.id);
        }
    }
}
</script>

<style>
.board-card {
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
    min-height: 150px;
    cursor: pointer;
}

.board-card:hover {
    transform: scale(1.1);
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.33);
}

.board-card:active {
    transform: scale(0.9);
    box-shadow: 0rem 0rem 0rem rgba(0, 0, 0, 0.33);
}

.board-delete-button {
    float: right;
    position: absolute;
    top: 16px;
    right: 18px;
}

.board-edit-button {
    float: right;
    position: absolute;
    top: 16px;
    right: 36px;
}
</style>