<template>
    <transition name="fade">
        <div class="lightbox" v-if="shown">
            <div class="modal force-modal-show" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Usuwanie tablicy "{{ board.name }}"</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" v-on:click="hideModal">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Uwaga! Ta operacja usunie tablicę "{{ board.name }}" wraz z powiązanymi elementami - czy na pewno chcesz usunąć tablicę?</p>
                    </div>
                    <div class="modal-footer">
                        <delete-button :deleting="deleting" @delete="deleteBoard" />
                        <button type="button" class="btn btn-secondary" v-on:click="hideModal">Anuluj</button>
                    </div>
                    <p v-if="error" class="alert alert-danger">{{ error }}</p>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
import ApiHelper from '../shared/ApiHelper.vue';
import DeleteButton from '../shared/DeleteButton.vue';

export default {
    name: 'BoardDeleteModal',
    components: {
        DeleteButton
    },
    props: ['board', 'shown'],
    mixins: [ApiHelper],
    created() {
        this.$on('apiresponse', ev => {
            this.deleting = false;
            if (ev.requestMethod == 'DELETE' && ev.httpStatus == 204) {
                    this.$emit('boarddeleted', this.board.id);
            }
        });
        this.$on('apierror', ev => {
            this.error = ev.errorDetails;
            this.deleting = false;
        });
    },
    data() {
        return {
            error: null,
            deleting: false
        }
    },
    methods: {
        hideModal() {
            this.$emit("boarddeletecancel");
        },
        deleteBoard() {
            this.deleting = true;
            this.delete('/api/board/' + this.board.id);
        }
    }
}
</script>

<style>
.lightbox {
    z-index: 1049;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 1;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
.force-modal-show {
  display: block !important;
}
</style>