<template>
  <div id="app">
    <div v-if="loggedIn">
      <navbar v-on:boardcreate="boardCreateHandler" />
      <div class="navbar-spacer"></div>
      <router-view></router-view>
      <p class="version-fixed-bottom clearfix float-right mr-1"><small>Wersja aplikacji: {{ version }}</small></p>
      <board-modal ref="boardModal" />
    </div>
    <auth-view v-else @login="loginHandler" />
  </div>
</template>

<script>
import Navbar from './components/navbar/Navbar.vue';
import BoardModal from './components/boards/BoardModal.vue'
import AuthView from './components/auth/AuthView.vue'

export default {
  name: 'app',
  components: {
    BoardModal,
    Navbar,
    AuthView
  },
  computed: {
    loggedIn() {
      return this.$store.state.sessionToken !== null
    }
  },
  created() {
    if (localStorage.token != null) {
      this.$store.commit('login', {
        sessionToken: localStorage.token
      });
    }
  },
  data() {
    return {
      version: process.env.VUE_APP_VERSION
    }
  },
  methods: {
    boardCreateHandler() {
      this.$refs.boardModal.showModal();
    },
    loginHandler(ev) {
      this.$store.commit('login', {
        sessionToken: ev.token
      });
      localStorage.token = ev.token;
    }
  }
}
</script>

<style>
.version-fixed-bottom {
  position: fixed;
  bottom: 0;
  right: 0;
}

.navbar-spacer {
  height: 4rem;
}
</style>