<template>
    <div class="container">
        <div class="row">
            <div class="col-12 mt-5">
                <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">{{ promptText }}</h5>
                    <form>
                        <label for="username">Nazwa użytkownika</label>
                        <input v-model="username" type="text" class="form-control" id="username" name="username" />

                        <label for="password">Hasło</label>
                        <input v-model="password" type="password" class="form-control" id="password" name="password" />

                        <button class="btn btn-primary mt-3" type="button" @click="handleAction" :disabled="inProgress">
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" v-if="inProgress"></span>
                            {{ loadingText }}
                        </button>
                    </form>
                    <div v-if="error" class="alert alert-danger mt-3">
                        {{ error }}
                    </div>
                    <p class="mt-3 text-center"><small><a href="#" @click="switchMode">{{ modeToggleText }}</a></small></p>
                </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import ApiHelper from '../shared/ApiHelper.vue'

export default {
    name: 'LoginView',
    computed: {
        inProgressText() {
            return this.registerMode ? "Rejestrowanie..." : "Logowanie...";
        },
        actionText() {
            return this.registerMode ? "Zarejestruj" : "Zaloguj";
        },
        promptText() {
            return this.registerMode ? "Zarejestruj się" : "Zaloguj się";
        },
        modeToggleText() {
            return this.registerMode ? "Masz konto? Zaloguj się!" : "Nie masz konta? Zarejestruj się!";
        },
        loadingText() {
            return this.inProgress ? this.inProgressText : this.actionText;
        }
    },
    created() {
        this.$on('apiresponse', ev => {
            console.log(ev);
            if(this.registerMode) {
                this.registerMode = false
                this.username = ''
                this.password = ''
            } else {
                this.$emit('login', ev.response);
            }
            this.inProgress = false
        });

        this.$on('apierror', ev => {
            this.error = (this.registerMode ? "Wystąpił błąd podczas rejestracji: " : "Wystąpił błąd podczas logowania: ") + ev.errorDetails
            this.inProgress = false
        });
    },
    data() {
        return {
            inProgress: false,
            registerMode: false,
            error: null,
            username: "",
            password: ""
        }
    },
    methods: {
        handleAction(ev) {
            ev.preventDefault();
            this.inProgress = true;
            this.post(this.registerMode ? "/api/register" : "/api/login", { username: this.username, password: this.password }, true)
        },
        switchMode(ev) {
            this.registerMode = !this.registerMode;
        }
    },
    mixins: [ ApiHelper ]
}
</script>

<style>

</style>